<div class="container">
        
        <p #name (click)="selectName()">{{planet.name}}</p>

        <p #moons (click)="selectMoons()">{{planet.moons}}</p>  
       
        <p #dist (click)="selectDist()">{{planet.distancefromSun}}</p>

        <a *ngIf="!editing" href="#" (click)="beginEdit()">Edit</a>
        <a *ngIf="editing" href="#" (click)="stopEdit(updatePlanetInfo.value)">Sabe</a>

    <button id="del" (click)="deletePlanet(planet)"> Del </button>
    <input #updatePlanetInfo type="text" [value]="placeholder">

</div>


<!-- <input (keyup)="updatePlanetDist($event)" type="text" placeholder="Set Dist">  -->