<div class="container" >
        
    <div>
        <img src = {{planet.imgUrl}}>
        <a id="editButton" *ngIf="!editing" href="#" (click)="beginEdit()">Edit</a>
    </div>
    <div>
        <p #name (click)="selectName()">Planet: {{planet.name}}</p>
        
        <p #moons (click)="selectMoons()">Moons: {{planet.moons}}</p>  
       
        <p #dist (click)="selectDist()">Dist to Sun: {{planet.distancefromSun}}</p>
        
        
        <a *ngIf="editing" href="#" (click)="stopEdit(updatePlanetInfo.value)">Sabe</a>

        <button id="del" (click)="deletePlanet(planet)">Delete</button>
        
    </div>
    <div>
        <input #updatePlanetInfo type="text" [value]="placeholder" placeholder="click value to edit">
    </div>
</div>


