:host{
    border: 1px black solid;
    padding: 10px;
    display: block;
    height: 100px;
    
}
.container{
    display: flex;
}

#del{
    height: 20px;
    width: 40px;
}

p{
    border: solid 0.5px black;
    padding: 1px;
}